.mainbody{
    background-color: #292929;
    padding-top: 20px;
    width: 595px;
    height: auto; 





}

.headder{
    margin-bottom: 10px;

    display: flex;
    justify-content:space-around;
}
.personalinfo{
    width: 100%;
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}
.h1Info{
 font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;

}
.span{
background-color: #F4EFFD;
width: 150px;
height: 0.2px;
opacity: 1;
border-right-width: 0.5px;

}
.span2{

background-color: #F4EFFD;
width: 100%;
height: 0.2px;
opacity: 1;


}

.h2Name{
font-family: Gotham;
font-weight: 700;
font-style: Bold;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
padding: bottom 2px;;
text-transform: capitalize;
color: #FFFFFF;
}
.pName{
font-family: Gotham;
font-weight: 300;
font-style: Light;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color:#FFFFFF


}

.span1{
width: 145;
opacity: 1;
border-radius: 4px;
background-color: #F4EFFD33
;

}
.divimg{
    margin-top: 20px;
}